{% load i18n %}

<div class="decorated auction-list-entry">
  <h4>
    <a href="{{ auction.get_absolute_url }}">
      {{auction.title}} 
    </a>{% trans 'by' %} {{auction.seller.username}}
  </h4>
  <hr>
  <div class="description">
    {{ auction.description }}
  </div>
  <div class="start-price">
    <b>{% trans 'Start price' %}:</b> {{ auction.min_price }} EUR
  </div>
  {% if auction.current_highest_bid %}
    <div class="current-price">
      <b>{% trans 'Current bid' %}:</b> {{ auction.current_highest_bid.amount }} EUR
    </div>
  {% endif %}
  <div class="total-bid">
    <b>{% trans 'Total bids' %}:</b> {{auction.bids.count}}
  </div>
</div>