{% extends 'layouts/base.html' %}

{% load i18n %}
{% load custom_tags %}


{% block content %}
<div class="decorated auction-detail">
  <h2>
    {{auction.title}}
  </h2>
  {% trans 'by' %} {{auction.seller.username}}
  {% if is_finished %}
    {% trans 'Resolved' %}
  {% endif %}
  <hr>

  <div class="actions">
    {% if is_seller %}
      <a href="{% url 'update_auction' auction_id=auction.id %}" class="btn">
        {% trans 'Update' %}
      </a>
    {% endif %}
    {% if is_admin %}
    <form action="{% url 'ban_auction' auction_id=auction.id %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-danger">{% trans 'Ban' %}</button>
    </form>
    {% endif %}
  </div>

  <div class="description">
    <b>{% trans 'Description' %}:</b> {{ auction.description }}
  </div>

  <div class="start-date">
    <b>{% trans 'Start date' %}:</b> {{auction.start_date|format_date}}
  </div>
  <div class="deadline">
    <b>{% trans 'End date' %}:</b> {{auction.deadline|format_date}}
  </div>
  {% if auction.current_highest_bid %}
    <div class="current-price">
      <b>{% trans 'Current bid' %}:</b> {{ auction.current_highest_bid.amount }} EUR
    </div>
  {% endif %}
  <hr>
  <div class="bid">
    {% if not is_seller %}
    <form action="{% url 'bid_auction' auction_id=auction.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="version" value="{{auction.version}}">
      <input type="hidden" name="bid_version" value="{{auction.bid_version}}">
      <input class="span1" type="text" name="amount" value="{{auction.min_next_bid_amount | format_bid_amount}}"><br/>
      <button class="btn btn-primary" {% if is_finished %}disabled{% endif %} >{% trans 'Place new bid' %}</button>
    </form>
    {% endif %}
  </div>

  {% if is_finished and winner %}
  <div class="winner">
    {% trans 'Winner is' %}: {{winner.username}}
  </div>
  {% endif %}
  <hr>
  <div class="bid-list">
    {% for bid in bids.all %}
      <div class="bid-entry">
        {{bid.amount | format_bid_amount }} - {{bid.user.email}}
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}